.display{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  /* background-color: wheat; */



}
.item{
    padding: 30px;
    /* width: 100%; Adjust image width as needed */
    margin: 10px; 
    width:260px;
    height: 260px;
    /* background-color: rgb(230, 190, 117);
    border-radius: 20%; */

    

}
.jpg{
    width: 260px;
    border-radius: 20%;
    height: 260px;
    border: 2px solid black;
}