/* Navbar.css (or define within a styled-components file) */
.navbar1 {
  
    background-color: white;
    color:black;
 
    text-align: center;
    padding: 10px;
    margin:10px;
    
  }
  
  .navbar-list1 {
    
    display: flex;
    padding: 20px;
   /* align-items:center;
   align-content: center;
   
   justify-content: center; */

  }.navbar-item1 p{
    padding-left: 10px;
    text-decoration: solid;
    font-weight: bolder;
    
    /* background-color: green; */
  }

 
  
  .navbar-item1{
    padding: 10px;
    display: inline-block;
   
  }a{
    color: #000;
    text-decoration: none;
  }
  a:hover{
    background-color: green;
    color: black;
  }
  
 
  